<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <h1>Url shortener</h1>
    <form action="/shortUrls" method="post" novalidate>
        <label for="url">
            Enter the url to shorten:
        </label>
        <input
        type="url"
        name="url"
        id="url"
        placeholder="Enter url to be shortened"
        />
        <label for="customUrl">
            Chooose custom prefix:
        </label>
        <input 
        type="text"
        name="customUrl"
        id="customUrl"
        placeholder="Customize the url"
        />
        <label for="expiryTime">
            Chooose expiry period:
        </label>
        <input
        type="number"
        name="expiryTime"
        id="expiryTime"
        placeholder="Expire time for link (in seconds)"
      />
        <button type="submit">submit</button>
    </form>
    <h2>
        List accessed so far:
    </h2>


    <% shortUrls.length>0 && shortUrls.forEach(shortUrl => { %>
          <div>
            <span>
                <a href="<%= shortUrl.url %>" ><%= shortUrl.url %></a>
            </span>
            <span>
                <a href="<%= shortUrl.customUrl %>" target="_blank"><%= shortUrl.customUrl %></a>
            </span>
            <span>
            <%= shortUrl.hits %>
            </span>
          </div>
        <% }) %>

        <% if(searched) { %>
            <h4>Short url found</h4>
            <div>
                <span>
                    <a href="<%= searched.url %>" ><%= searched.url %></a>
                </span>
                <span>
                    <a href="<%= searched.customUrl %>" target="_blank"><%= searched.customUrl %></a>
                </span>
                <span>
                <%= searched.hits %>
                </span>
                <span>
                <%= searched.searched %>
                </span>
            </div>
        <% } %>
</body>
<script>

</script>
</html>